:host {
  display: block;
  --logo-size: 36px;
}

.image-container {
  display: flex;
  align-items: center;
  padding: 12px;
  text-decoration: none;
}

.image {
  max-height: var(--logo-size);
  max-width: 100%;
}

.slogan {
  font-family: 'TeleNeo ExtraBold', sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.125px;
  text-transform: uppercase;
  padding-top: 5px;
  margin-left: 28px;
}
